@media only screen and (max-width: 767px) {
	.ui.modal .ui.list>.item>i.icon {
		padding: 1rem 0;
	}
}

.fileinput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}