<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/buckets.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <title>Buckets</title>
</head>
    <body>
        <script type="text/javascript">
            let bucketsTaskId = "{{bucketsTaskId}}";
        </script>
        <div id="app-container"></div>
        <!-- Include Scala.js compiled code -->
        <script type="text/javascript" src="/frontend/out.js"></script>
    </body>
</html>